{% extends "base.html" %}
{% block title %} - Home{% endblock %}
{% block content %}
{% if not session.logged_in %}
     <p>You are not logged in.  You should :)  Feel free to try 321646</p>
{% else %}
     <p>You logged in! Welcome <strong>{{session.type}}</strong>!</p>
     <!-- // Begin Typing Test HTML (c) CalculatorCat.com // --><table width="400" cellpadding="0" cellspacing="0" border="0" style="border: 1px solid #000000" bgcolor="#F3F3F4"><tr><td style="padding-bottom:5px;" align="center"><script language="JavaScript" type="text/javascript" src="http://www.calculatorcat.com/cs/tt/tt.js?v1=%23000000&v2=400"></script><span style="font-family:arial,helvetica,sans-serif;font-size:10px;color:#000000">&nbsp;<a href="http://www.calculatorcat.com/typing_test" style="font-family:arial,helvetica,sans-serif;font-size:10px;color:#000000">free typing test</a> (c) CalculatorCat.com&nbsp;</span></td></tr></table><!-- // end typing test HTML // -->
{% endif %}
{% endblock %}